:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #000000; 
    --cor-fundo: #1E1E1E;
    --cor-fundo-card-form: #D9D9D9;
    --cor-gradiente: linear-gradient(180deg, #853347 35.1%, #57081E 64.9%);
    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-textos: "Roboto Condensed", sans-serif;
    --fonte-size: clamp(0.7rem, 0.395rem + 1.524vw, 0.8rem);
    --fonte-size-destaque: clamp(1.1rem, 0.125rem + 4.8vw, 1.4rem);
    --fonte-destaque: "Oswald", sans-serif;
    --gap-servicos-card: 1.125rem;
    --gap-galeria: 0.3125rem;
    --margin-bottom-secoes: 2.25rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {font-size: 100%;}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: normal;
    color: var(--cor-primaria);
    background-color: var(--cor-fundo);
    font-size: var(--fonte-size);
}
/* Início do cabeçalho */
header {
    width: 100%;
    max-height: 10%;
    padding: 1rem 1rem 0.625rem 1rem;
    text-align: center;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-textos);
    font-weight: 500;
}
.empresa-nome {
    font-weight: 600;
    padding-bottom: 0.625rem;
    text-transform: uppercase;
}
.nav-conteudo {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-conteudo a {
    display: inline-block;
    color: var(--cor-secundaria);
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s ease;
}
.nav-conteudo a[aria-current="page"] {
    background-image: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
/* Fim do cabeçalho */
/* Início do conteudo principal */
main {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    color: var(--cor-primaria);
}
.titulo-destaque {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: var(--fonte-size-destaque);
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.frase-destaque {
    font-family: var(--fonte-textos);
    font-weight: 200;
    padding-bottom: 1.625rem;
}
.card-destaque {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
    border-radius: 3px;
    margin-bottom: var(--margin-bottom-secoes);
    padding: 0.625rem 0 0.625rem 0;
    display: flex;
    justify-content: space-around;
}
.card-destaque-obras h2, .card-destaque-anos h2 {
    font-weight: 700;
}
.card-destaque-obras p, .card-destaque-anos p {
    font-weight: 400;
}
.servicos {
    font-family: var(--fonte-textos);
    font-weight: 700;
    color: var(--cor-primaria);
    margin-bottom: var(--margin-bottom-secoes);
}
.servicos h2 {
    text-transform: uppercase;
    text-align: justify;
    margin-bottom: 0.5rem;
}
.servicos-produtos {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    row-gap: var(--gap-servicos-card);
    column-gap: var(--gap-servicos-card);
}
.servicos-produtos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-image: var(--cor-gradiente);
    border-radius: 3px;
    padding: 0.375rem 0 0.375rem 0;
}
.servicos-produtos li img {
    width: 2.8rem;
}
.servicos-produtos li a {
    color: var(--cor-primaria);
    transition: transform 0.5s ease;
}
.card-represetante {
    font-weight: 400;
    margin-bottom: var(--margin-bottom-secoes);
}
.card-represetante h2 {
    font-family: var(--fonte-titulo);
    font-weight: 300;
    text-align: justify;
    text-transform: uppercase;
    padding-bottom: 0.375rem;
}
.card-represetante div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.625rem;
    font-family: var(--fonte-textos);
    text-align: justify;
    border-radius: 3px;
}
.card-represetante div h3 {
    font-weight: 700;
    text-transform: uppercase;
}
.card-represetante img {
    width: 10.5rem;
}
.galeria {
    margin-bottom: var(--margin-bottom-secoes);
}
.galeria h2 {
    font-family: var(--fonte-titulo);
    font-weight: 300;
    text-align: justify;
    text-transform: uppercase;
    padding-bottom: 0.375rem;
}
.galeria-exposicao {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    row-gap: var(--gap-galeria);
    column-gap: var(--gap-galeria);
}
.galeria-exposicao img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 3px;
}
.card-avaliacao {
    margin-bottom: var(--margin-bottom-secoes);
}
.card-avaliacao h2 {
    text-align: justify;
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-weight: 300;
    padding-bottom: 0.25rem;
}
.card-avaliacao div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    background-color: var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-secundaria);
    text-align: justify;
    padding: 0.5rem;
    font-family: var(--fonte-destaque);
    font-weight: 400;
}
.card-avaliacao-nome {
    font-family: var(--fonte-titulo);
    font-weight: 500;
    background-image: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.sobre {
    margin-bottom: var(--margin-bottom-secoes);
}
.sobre h2 {
    font-family: var(--fonte-titulo);
    font-weight: 300;
    text-align: justify;
    text-transform: uppercase;
    padding-bottom: 0.375rem;
}
.sobre div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    background-color: var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-secundaria);
    text-align: justify;
    padding: 0.5rem;
    font-family: var(--fonte-textos);
}
.sobre div h3 {
    text-transform: uppercase;
}
.sobre div img {
    width: 9.375rem;
    aspect-ratio: 25/7;
}
.contato {
    font-family: var(--fonte-textos);
    margin-bottom: var(--margin-bottom-secoes);
}
.contato h2 {
    font-family: var(--fonte-titulo);
    text-align: justify;
    font-weight: 300;
    padding-bottom: 0.375rem;
}
.contato > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.625rem;
    border-radius: 3px;
}
.contato > div h3 {
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-weight: 700;
}
.contato-botao-wpp {
    display: inline-block;
    color: var(--cor-primaria);
    margin: 0 auto;
    background-image: var(--cor-gradiente);
    padding: 0.5rem;
    border-radius: 6px;
    font-family: var(--fonte-destaque);
    transition: transform 0.5s ease;
}
.contato-botao-wpp a {
    text-decoration: none;
    color: var(--cor-primaria);
    padding-right: 0.5rem;
}
.contato-botao-wpp img {
    width: 0.75rem;
    aspect-ratio: 1/1;
}
/* Fim do conteudo principal */
/* Início do rodapé */
footer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.625rem;
    width: 100%;
    padding: clamp(1rem, -0.524rem + 7.619vw, 1.5rem);
    padding-bottom: 0;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-titulo);
}
footer > img {
    justify-self: center;
    width: clamp(9.5rem, -2.69rem + 60.952vw, 13.5rem);
    aspect-ratio: 25/7;
}
footer > div {
    display: flex;
    justify-content: space-between;
}
footer > div img {
    width: var(--fonte-size);
    aspect-ratio: 1/1;
    vertical-align: middle;
}
footer div a {
    text-decoration: none;
    color: var(--cor-secundaria);
}
.footer-rede-socias, .footer-outros {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.footer-rede-socias a {
    padding-right: 0.375rem;
}
.footer-outros a {
    padding-left: 0.375rem;
}
footer > p {
    margin: 0 auto;
    padding: var(--fonte-size);
}
/* Fim do rodapé */
/* hover em todas tag <a> */
body a:hover, .contato-botao-wpp:hover {
    transform: scale(1.2);
}
/* media querie para tablets */
@media (min-width: 650px) and (max-width: 1000px){
    body {
        font-size: 1rem;
    }
    .servicos {
        font-size: var(--fonte-size);
    }
    .servicos-produtos {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
    .galeria-exposicao {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    .galeria-exposicao img {
        aspect-ratio: 4/3;
    }
}
/* media querie para desktop */
@media (min-width: 1024px) {
    body {
        font-size: 1rem;
    }
    main {
        padding: 2rem 6rem 0 6rem;
    }
    footer > div {
        justify-content: space-evenly;
    }
    .nav-conteudo {
        justify-content: space-evenly;
    }
    .titulo-destaque {
        font-size: 2.5rem;
    }
    .frase-destaque, .card-destaque-obras h2, .card-destaque-anos h2, .card-destaque-obras p, .card-destaque-anos p{
        font-size: 1.5rem;
    }
    .card-destaque {
        margin: 0 auto;
        max-width: 62.5rem;
        justify-content: space-evenly;
    }
    .servicos-produtos {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    .galeria-exposicao {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    .galeria img {
        aspect-ratio: 16/9;
    }
}