:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #000000; 
    --cor-fundo: #1E1E1E;
    --cor-fundo-card-form: #D9D9D9;
    --cor-gradiente: linear-gradient(180deg, #853347 35.1%, #57081E 64.9%);
    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-textos: "Roboto Condensed", sans-serif;
    --fonte-destaque: "Oswald", sans-serif;
    --gap-servicos-card: 1.125rem;
    --gap-galeria: 0.3125rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {font-size: 100%;}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: normal;
    color: var(--cor-primaria);
    background-color: var(--cor-fundo);
}
/* Início do cabeçalho */
header {
    width: 100vw;
    max-height: 10%;
    padding: 1rem 1rem 0.625rem 1rem;
    text-align: center;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-textos);
    font-size: clamp(0.8rem, 0.15rem + 3.2vw, 1rem);
    font-weight: 500;
}
.empresa-nome {
    font-weight: 600;
    padding-bottom: 0.625rem;
    text-transform: uppercase;
}
.nav-conteudo {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-conteudo a {
    color: var(--cor-secundaria);
    text-decoration: none;
    text-transform: uppercase;
}
.nav-conteudo a[aria-current="page"] {
    background-image: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
/* Fim do cabeçalho */
/* Início do conteudo principal */
main {
    width: 100vw;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    color: var(--cor-primaria);
}
.titulo-destaque {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: clamp(1.1rem, 0.125rem + 4.8vw, 1.4rem);
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.frase-destaque {
    font-family: var(--fonte-textos);
    font-weight: 400;
    font-size: clamp(0.625rem, 0.381rem + 1.2vw, 0.7rem);
    padding-bottom: 1.625rem;
}
.card-destaque {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
    border-radius: 3px;
    margin-bottom: 2.25rem;
    padding: 0.625rem 0 0.625rem 0;
    display: flex;
    justify-content: space-around;
}
.card-destaque-obras h2, .card-destaque-anos h2 {
    font-weight: 700;
    font-size: 1.25rem;
}
.card-destaque-obras p, .card-destaque-anos p {
    font-weight: 400;
    font-size: 0.625rem;
}
.servicos {
    font-family: var(--fonte-textos);
    font-weight: 700;
    color: var(--cor-primaria);
    margin-bottom: 1.625rem;
}
.servicos h2 {
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.494rem + 1.905vw, 1rem);
    text-align: justify;
    margin-bottom: 0.5rem;
}
.servicos-produtos {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: var(--gap-servicos-card);
}
.servicos-produtos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-image: var(--cor-gradiente);
    border-radius: 3px;
    padding: 0.375rem 0 0.375rem 0;
    font-size: clamp(0.75rem, -0.012rem + 3.81vw, 1rem);
}
.servicos-produtos li img {
    width: 2.8rem;
}
.servicos-produtos li a {
    color: var(--cor-primaria);
}
.card-represetante {
    font-weight: 400;
    margin-bottom: 2.25rem;
}
.card-represetante h2 {
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: clamp(0.625rem, -0.518rem + 5.714vw, 1rem);
    text-align: justify;
    text-transform: uppercase;
    padding-bottom: 0.375rem;
}
.card-represetante div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.625rem;
    font-family: var(--fonte-textos);
    font-size: 0.625rem;
    text-align: justify;
}
.card-represetante div h3 {
    font-weight: 700;
    text-transform: uppercase;
}
.card-represetante img {
    width: 10.5rem;
}
.galeria {
    margin-bottom: 1.625rem;
}
.galeria h2 {
    font-family: var(--fonte-titulo);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: justify;
    text-transform: uppercase;
    padding-bottom: 0.375rem;
}
.galeria-exposicao {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: var(--gap-galeria);
}
.galeria-exposicao img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 3px;
}
.card-avaliacao {
    margin-bottom: 2.25rem;;
}
.card-avaliacao h2 {
    text-align: justify;
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-size: clamp(0.75rem, -0.012rem + 3.81vw, 1rem);
    font-weight: 300;
    padding-bottom: 0.25rem;
}
.card-avaliacao div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    background-color: var(--cor-primaria);
    border-radius: 3px;
    color: var(--cor-secundaria);
    text-align: justify;
    padding: 0.5rem;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-size: clamp(0.625rem, -0.518rem + 5.714vw, 1rem);
}
.card-avaliacao-nome {
    font-family: var(--fonte-titulo);
    font-size: clamp(0.625rem, -0.518rem + 5.714vw, 1rem);
    font-weight: 500;
    background-image: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}